@import '@/style/theme.scss';
@import '@/style/responsive.scss';

html {
	box-sizing: border-box;
	font-size: 20px;
	background: $dark-colour;


	@include small {
		font-size: 20px;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	text-align: center;
}

#app {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.main {
	flex-grow: 1;
	color: #FFFFFF;
}

.container {
	width: 1200px;
	max-width: calc(100vw - 2rem);
	margin: 0 auto;
}

.link {
	color: $main-colour;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

hr {
	$size: 0.5rem;
	$dots: 5;
	width: $size * ($dots * 2 - 1);
	border: none;
	border-top: $size dotted $darker-colour;
	margin: 2rem auto;
}
