@import '@/style/theme.scss';
@import '@/style/responsive.scss';

html {
	box-sizing: border-box;
	font-size: 20px;
	background: $dark-colour;
	overflow-x: hidden;
	scroll-behavior: smooth;

	min-width: 320px;

	--pi: 3.14159265358979;
  --primary: #5ab72e;
  --gray-900: #262933;
  --black: #000000;
  --white: #FFFFFF;

  --spacing-xsmall: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-medium: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xlarge: 2rem;

  --font-size-xsmall: 0.5rem;
  --font-size-small: 0.75rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2rem;

  --border-radius-medium: 0.5rem;

  --duration-fast: 0.1s;
  --duration-medium: 0.2.5s;
  --duration-slow: 0.5s;

	@include small {
		font-size: 20px;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: 'Inter', sans-serif;
	margin: 0;
	text-align: center;
	overflow-x: hidden;
  scroll-timeline: --bodyTimeline y;
  scroll-timeline: --bodyTimeline vertical;
}

#app {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.main {
	flex-grow: 1;
	color: $light-colour;
}

.container {
	width: 1400px;
	max-width: calc(100vw - 2rem);
	margin: 0 auto;
}

.link {
	color: $main-colour;
	cursor: pointer;
	&:hover {
		text-decoration: underline;
	}
}

hr {
	$size: 0.5rem;
	$dots: 5;
	width: $size * ($dots * 2 - 1);
	border: none;
	border-top: $size dotted $light-colour;
	margin: 2rem auto;
}
